<ion-view  no-shadow view-title="Aventura" >
  <ion-nav-view></ion-nav-view>


  <ion-header no-shadow>
    <div align="center">
      <h3>{{AdventureProfile.name}}</h3>
      <h1>MAPA?? o debajo de la info? o aqui foto y debajo mapa?</h1>
    </div>

  </ion-header>
  <ion-content>
    <h3>Descripción</h3>
    <h4>{{AdventureProfile.description}}</h4>
    <br>
    <h3>Dificultad</h3>
    <h4>{{AdventureProfile.difficulty}}</h4>
    <br>
    <h3>Comentarios</h3>
    <div class="list">
      <a ng-repeat="comment in comments" class="item item-thumbnail-left">
        <img ng-src="{{ comment.user.photo }}">
        <p><b>{{ comment.user.name }}</b></p>
        <p>{{ comment.text }}</p>
        <span class="date">{{comment.commentdate}}</span>
      </a>
    </div>
  </ion-content>
</ion-view>


