<ion-view  no-shadow view-title="Explorar" >

  <ion-content class="padding">
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="busqueda" placeholder="Buscar una aventura">
      <button class="button button-clear" >
        <i class="ion-ios-close-outline" style="color: dimgrey" ng-click="clear(busqueda)"></i>
      </button>
      </label>
    </div>

    <div class="list">
        <a ng-repeat="item in items | filter:busqueda " ng-click="AdvProfile(item._id)" class="item item-thumbnail-left">
          <img ng-src="{{ item.image }}">
          <h2>{{ item.name }}</h2>
          <h4>{{ item.description }}</h4>
        </a>
    </div>
  </ion-content>
  <div style="position: absolute; bottom: 0px; width: 100%" class="button-bar">
    <button class="button icon ion-ios-location" ng-click="showNear()">
    </button>
    <button class="button icon ion-ios-world" ng-click="showAll()">
    </button>
  </div>
</ion-view>
<!-- href="#/{{item.id}}"
-->
