<ion-side-menus enable-menu-with-back-views="false" no-shadow>
    <ion-side-menu-content no-shadow>
        <ion-nav-bar class="sexy-blue" no-shadow>

          <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left" style="color: white"></button>
          </ion-nav-buttons>
          <ion-nav-back-button>
          </ion-nav-back-button>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">

        <ion-header-bar no-shadow class="expanded" id="user-header">
            <div  class="profile" align="center" >
              <img class="image-avatar" src="https://pbs.twimg.com/profile_images/591181913794162688/BXQiY1VY_400x400.jpg" >
                <h5 style="color: limegreen">martacou</h5>
            </div>
        </ion-header-bar>
        <ion-content class="sexy-blue has-expanded-header">

            <ion-list>
              <br>
              <br>
              <ion-item></ion-item>
                <ion-item nav-clear menu-close class="letra" style="color: white" href="#/app/main">
                   <i class="ion-bonfire"></i>  Explorar
                </ion-item>
                <ion-item nav-clear menu-close class="letra" style="color: white" href="#/app/adventures">
                  <i class="ion-android-compass"></i>  Mis Aventuras
                </ion-item>
                <ion-item nav-clear menu-close class="letra" style="color: white" href="#/app/user">
                  <i class="ion-person"></i> Perfil
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
