<ion-view  no-shadow view-title="Mis Aventuras" >

  <ion-content class="padding">
    <br>

    <div class="list">

      <a ng-repeat="adventure in adventures" class="item item-thumbnail-left" href="#/app/adventures/{{item._id}}">
        <img ng-src="{{ adventure.image }}">
        <h2>{{ adventure.name }}</h2>
        <h4>{{ adventure.description }}</h4>
      </a>

    </div>

  </ion-content>

  <div style="position: absolute; bottom: 0px; width: 100%" class="button-bar">
    <button class="button icon ion-play" ng-click="showJugadas()">
    </button>
    <button class="button icon ion-bug" ng-click="showCredas()">
    </button>
    <button class="button icon ion-heart" ng-click="showJugadas()">
    </button>
  </div>
</ion-view>




