<ion-view  no-shadow view-title="Mis Aventuras" >
  <ion-nav-view></ion-nav-view>


  <ion-header no-shadow>
    <div class="bar bar-subheader item-input-inset bar-light">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="search" placeholder="Buscar">
      </label>
    </div>
  </ion-header>
  <ion-content>

    <br>
    <br>
    <br>
    <div class="list">

      <a ng-repeat="item in items" class="item item-thumbnail-left" >
        <img ng-src="{{ item.image }}">
        <h2>{{ item.name }}</h2>
        <h4>{{ item.location }}</h4>
      </a>

    </div>

  </ion-content>
</ion-view>




