<ion-view view-title="Register">

  <ion-content style="background: url(/../img/newaccount.jpg) no-repeat center; background-size:cover; background-attachment:fixed;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="row">
      <div class="col col-10"></div>
      <div class="col col-80">

        <label  class="item  item-input ">
          <input type="text" style="color: dimgrey" placeholder="Nombre de usuario"  ng-model="data.name">
        </label>
        <br>
        <label  class="item  item-input ">
        <input type="text" style="color: dimgrey" placeholder="Email"  ng-model="data.email">
      </label>
        <br>
        <label  class="item  item-input">
          <input type="password" style="color: dimgrey" placeholder="Contraseña" ng-model="data.password">
        </label>
        <br>
        <label  class="item  item-input">
          <input type="password" style="color: dimgrey" placeholder="Repetir la contraseña" ng-model="data.repeatpassword">
        </label>

      </div>
      <div class="col col-10"></div>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="text-center">

      <button style="width: 80%" class="button  button-energized" ng-click="Register()">Crear Cuenta</button>

    </div>


  </ion-content>


</ion-view>
