<ion-view view-title="Editar Perfil">
    <ion-content >

    <span class="list">
      <h4 class="padding gotham-medium  text-center">Marta Couto</h4>
      <div class="row">
        <div class="col col-100" align="center">
              <img align="center" src="/../img/geofinderico.png" >
        </div>
      </div>
    </span>

          <label class="item item-input">
            <span class="input-label" style="color: black">Nombre</span>
            <input type="text" style="color: black">
          </label>

      <br>
          <label class="item item-input">
            <span class="input-label" style="color: black"> Email</span>
            <input type="email" style="color: black">
          </label>

      <br>
      <label class="item item-input">
        <span class="input-label" style="color: black"> Cumpleaños</span>
        <input type="email" style="color: black">
      </label>

      <br>
      <label class="item item-input">
        <span class="input-label" style="color: black"> Sexo</span>
        <input type="email" style="color: black">
      </label>
      <br>

            <label class="item item-input">
              <span class="input-label" style="color: black">Contraseña</span>
              <input type="password" style="color: black">
            </label>

            <label class="item item-input">
              <span class="input-label" style="color: black">Nueva Contraseña</span>
              <input type="password" style="color: black">
            </label>

            <label class="item item-input">
              <span class="input-label" style="color: black">Repetir contraseña</span>
              <input type="password" style="color: black">
            </label>
          </div>
          <div align="center">
            <h7 class="text-center">Usuario desde </h7>
          </div>
          <br>
          <div align="center">
            <button style="width: 80%" class="button  sexy-blue" ng-click="EditProfile()">Guardar</button>
          </div>


    </ion-content>
</ion-view>

