<ion-view view-title="Editar Perfil">
  <ion-content >
    <span class="list">
    <br>
        <div align="center">
              <img class="image-avatar" src={{UserProfileInfo.photo}}>
        </div>
 <h4 class="padding gotham-medium  text-center" style="color: limegreen">{{UserProfileInfo.username}}</h4>
    </span>


          <label class="item item-input">
            <span class="input-label" style="color: black">Nombre</span>
            <ion-item type="text" style="color: black">{{UserProfileInfo.name}}
          </label>

          <label class="item item-input">
            <span class="input-label" style="color: black"> Nombre de usuario</span>
            <input type="text" style="color: black" placeholder="{{UserProfileInfo.username}}" ng-model="UpdatedUser.username">
          </label>


          <label class="item item-input">
            <span class="input-label" style="color: black"> Email</span>
            <input type="text" style="color: black" placeholder="{{UserProfileInfo.email}}" ng-model="UpdatedUser.email">
          </label>

          <label class="item item-input">
            <span class="input-label" style="color: black"> Descripción</span>
            <input type="text" style="color: black" placeholder="{{UserProfileInfo.description}}" ng-model="UpdatedUser.description">
          </label>

          <label class="item item-input">
            <span class="input-label" style="color: black"> Imagen</span>
            <input type="text" style="color: black" placeholder="{{UserProfileInfo.photo}}" ng-model="UpdatedUser.photo">
          </label>


            <label class="item item-input">
              <span class="input-label" style="color: black">Nueva Contraseña</span>
              <input type="password" style="color: black" ng-model="UpdatedUser.password">
            </label>

            <label class="item item-input">
              <span class="input-label" style="color: black">Repetir contraseña</span>
              <input type="password" style="color: black" ng-model="UpdatedUser.repnewpassword">
            </label>
          </div>
          <div align="center">
            <h7 class="text-center">Usuario desde {{UserProfileInfo.registerdate}}</h7>
          </div>
          <br>
          <div align="center">
            <button style="width: 80%" class="button  sexy-blue" ng-click="EditUser()">Guardar</button>
          </div>


    </ion-content>
</ion-view>


    <br>
    <label class="item item-input">
      <span class="input-label">Sexo</span>
      <select ng-model="user.gender">
        <option>Hombre</option>
        <option>Mujer</option>
      </select>
    </label>

    <label class="item item-input">
      <span class="input-label" style="color: black">Contraseña</span>
      <input type="password" style="color: black" placeholder="*****" ng-model="user.password">
    </label>

    <label class="item item-input">
      <span class="input-label" style="color: black">Nueva Contraseña</span>
      <input type="password" style="color: black" ng-model="user.newpassword">
    </label>

    <label class="item item-input">
      <span class="input-label" style="color: black">Repetir contraseña</span>
      <input type="password" style="color: black" ng-model="user.repnewpassword">
    </label>
    </div>
    <div align="center">
      <h7 class="text-center">Usuario desde {{user.registerdate}}</h7>
    </div>
    <br>
    <div align="center">
      <button style="width: 80%" class="button  sexy-blue" ng-click="EditProfile()">Guardar</button>
    </div>


  </ion-content>
</ion-view>
