  <ion-view view-title="Explorar">

    <ion-content class="padding">

      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Buscar una aventura">
          <button class="button button-clear">
            <i class="ion-ios-close-outline" style="color: dimgrey"></i>
          </button>
        </label>
      </div>

      <div class="list">
        <a ng-repeat="item in items" href="#/{{item.id}}" class="item item-thumbnail-left">
          <img ng-src="{{ item.image }}">
          <h2>{{ item.name }}</h2>
          <h4>{{ item.location }}</h4>
        </a>
      </div>
    </ion-content>
    <ion-footer-bar>
      <ion-tabs class="tabs-icon-top">
        <ion-tab title="Cercanas" icon="ion-location" href="#/app/main">
        </ion-tab>

        <ion-tab title="Todas" icon="ion-earth" href="#/app/all">
        </ion-tab>
      </ion-tabs>
    </ion-footer-bar>
  </ion-view>
